{{!-- creating divs --}}
<div class="main-login">
    <div class="card-login">
        <h1 class="title-page"> Login </h1>
        <form class="form form-login">
            <div class="group-form">
                <label for="login-username"> Username: </label>
                <input class="input-form" id="login-username" type="text"/>
            </div>
            <div class="group-form">
                <label for="login-password"> Password: </label>
                <input class="input-form" id="login-password" type="text"/>
            </div>
            <div class="group-form">
                <button class= "btn btn-secondary" type="submit"> Login </button>
            </div>
        </form>
    </div>
    <div class="crad-login">
        <h1 class="title-page"> Sign Up </h1>
        <form class=" form form-signup">
            <div class="group-form">
                <label for="signup-username"> Username: </label>
                <input class="input-form" id="signup-username" type="text"/> 
            </div>
            <div class="gorup-form">
                <label for="signup=password"> Password: </label>
                <input class="input-form" id="signup-password" type="text"/>
            </div>
            <div class="group-form">
                <button class="btn btn-secondary" type="submit"> Sign Up </button>
            </div>
        </form>
    </div>
</div>


<script src="./js/login.js"></script>